.input-box-container {
  display: flex;
  align-items: center;
}

.screen-renderer-text-input-box {
  height: 20px;
  width: 50px;
  margin-left: 10px;
}

.rom-select-container {
  display: flex;
  align-items: center;
}

.rom-select-input {
  width: 200px;
  margin-left: 10px;
}

.rom-description-container {
  display: flex;
  border-radius: 25px;
  max-width: 400px;
  border: 1px solid slategrey;
  max-height: 350px;
  overflow: scroll;
  margin-left: 20px;
}

.rom-description-text {
  margin: 20px;
  white-space: pre-line;
}

.keyboard-settings-container {
  margin-top: 10px;
  display: flex;
}
